body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 330px;

    .content {
      display: flex;
      flex-wrap: wrap;
      min-width: 330px;

      img {
        width: 100px;
        height: 100px;
        border: 5px solid #777;
        background-color: yellow;

        &.red {
          background-color: red;
        }

        &.green {
          background-color: green;
        }
      }
    }

    .control {
      margin-top: 20px;

      .nav-bar {
        display: flex;
        justify-content: space-between;

        #time,
        #combo {
          width: 30%;
        }
      }
    }
  }
}
