body {
  background: #222;
  margin: 0;
}
#clock1 {
  width: 740px;
  height: 100px;
  background: rgb(119 119 119 / 48%);
  margin: 20vh auto;
  padding: 10px;
  display: flex;
}
.ck {
  display: inline-flex;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c0 {
  width: 100px;
  height: 100px;
  background: url("num.png");
  display: inline-block;
}
.cc {
  width: 50px;
  height: 100px;
  background: url("num.png");
  background-position: 50px;
  display: inline-block;
  margin: 0 10px;
}
.c0 {
  background-position: 0px;
}
.c1 {
  background-position: -100px;
}
.c2 {
  background-position: -200px;
}
.c3 {
  background-position: -300px;
}
.c4 {
  background-position: -400px;
}
.c5 {
  background-position: -500px;
}
.c6 {
  background-position: -600px;
}
.c7 {
  background-position: -700px;
}
.c8 {
  background-position: -800px;
}
.c9 {
  background-position: -900px;
}
