<header class="text-center container">
  <h2 class="pb-3">服務設施</h2>
</header>
<article class="container px-0">
  <ul class="list-unstyled row">
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow animate__bounceInRight" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow animate__bounceInRight" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
    <li class="media flex-column align-items-center flex-sm-row align-items-sm-start col-lg-6 mb-4 lokiwow animate__bounceInRight" data-wow-duration="1s">
      <img src="https://fakeimg.pl/300x300" class="pb-3 col-sm-6">
      <div class="media-body col-sm-6">
        <h5 class="mt-0 mb-1">based media object</h5>
        <p class="pb-3 border-bottom border-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          corporis!</p>
      </div>
    </li>
  </ul>
</article>