<ol class="carousel-indicators">
  <li data-target="#lokiSlider" data-slide-to="0" class="active"></li>
  <li data-target="#lokiSlider" data-slide-to="1"></li>
  <li data-target="#lokiSlider" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item vh-100 active">
    <img src="https://picsum.photos/1920/1080/?random=1" class="w-100 h-100">
    <div class="carousel-caption d-flex flex-column justify-content-center">
      <h1>First slide label</h1>
      <p class="d-none d-md-block">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </div>
  <div class="carousel-item vh-100">
    <img src="https://picsum.photos/1920/1080/?random=2" class="w-100 h-100">
    <div class="carousel-caption d-flex flex-column justify-content-center">
      <h1>Second slide label</h1>
      <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="carousel-item vh-100">
    <img src="https://picsum.photos/1920/1080/?random=3" class="w-100 h-100">
    <div class="carousel-caption d-flex flex-column justify-content-center">
      <h1>Third slide label</h1>
      <p class="d-none d-md-block">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#lokiSlider" data-slide="prev">
  <i class="fas fa-angle-double-left fa-2x"></i>
</a>
<a class="carousel-control-next" href="#lokiSlider" data-slide="next">
  <i class="fas fa-angle-double-right fa-2x"></i>
</a>