<div class="d-flex justify-content-center align-items-center flex-wrap">
  <a href="https://www.facebook.com/tsvts/" target="_blank" class="border p-4 m-3 text-light">
    <i class="fab fa-facebook fa-3x pb-2"></i><br>
    泰山職訓中心
  </a>
  <a href="https://tkyhkm.wda.gov.tw/Default.aspx" target="_blank">
    <img src="media/001.png" alt="勞動部勞動力發展署北基宜花金馬分署全球資訊網">
  </a>
  <a href="https://www.taiwanjobs.gov.tw/home109/index.aspx" target="_blank">
    <img src="media/002.png" alt="台灣就業通">
  </a>
</div>
<div>
  電話：<a href="tel:0229018274" class="text-light">02-2901-8274</a>
  　｜　
  傳真：02-2908-4773
  　｜　
  信箱：<a href="mailto:service@toyugi.com.tw" class="text-light">service@toyugi.com.tw</a>
  <address>
    <a href="https://goo.gl/maps/WRvauAJPufCKyJ8F8" target="_blank" class="text-light">243新北市泰山區貴子里致遠新村55之1號</a>
  </address>
</div>