<iframe class="embed-responsive-item" allowfullscreen
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d620.8065759507045!2d121.41989356067133!3d25.043701902986367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a7bec9ad74b1%3A0xa639904a89f26435!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5YyX5Z-65a6c6Iqx6YeR6aas5YiG572y5rOw5bGx6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1606440606443!5m2!1szh-TW!2stw"></iframe>
<article class="container pb-5">
  <div class="row">
    <header class="col-12 col-lg-6 text-center">
      <h2 class="card text-info py-2 mb-4">交通資訊</h2>
    </header>
    <div class="col-12"></div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <strong>公車、捷運</strong>
          <ul class="pl-4">
            <li>公車：三重客運(637、638)、指南客運(797、798、801、858、880、883、1501、1503)，至明志科技大學站下車。</li>
            <li>新北市泰山區免費公車(泰山區F216明志國小-台北車站(北三門搭車))：至貴子路下車後，步行至貴子路口左轉明志路3段，明志路直行約100公尺至工專路右轉，再直行即可至明志科技大學。</li>
            <li>捷運：臺北捷運中和新蘆線至丹鳳站1號出口或桃園捷運機場線至泰山貴和站（明志科大）1號出口，再轉乘公車或騎乘YouBike微笑單車（約10~15分鐘）至明志科技大學。</li>
          </ul>
          <strong>自行開車</strong>
          <ul class="pl-4">
            <li>高速公路五股交流道下(往新莊、泰山)，經新五路至新北大道右轉，直行至貴子路口右轉，貴子路直行至明志路左轉。於明志路繼續前行約100公尺右轉工專路，即可抵達明科技大學。</li>
            <li>由台北車站走忠孝橋，直行高架道路，下到平面道路之後直行至貴子路口右轉，貴子路直行至明志路左轉，於明志路繼續前行約100公尺右轉工專路，即可抵達明科技大學。</li>
            <li>明志科大「汽車」停車費30元/小時，請儘量搭乘大眾交通工具或機車(免停車費)。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
